.features_item{
  padding: 0 25px;
  position: relative;
  z-index: 5;
}

.features_item > div:nth-child(1){
  padding: 20px;
  border: var(--border);
  border-radius: 5px;
  transition: .2s;
}

.features_item > div:nth-child(1):hover{
  box-shadow: var(--shadow);
  color: white;
  background-color: #0f2a47;
  transform: scale(1.05);
}