.slide :global(.subHeader) {
	font-family: "Amiri", serif;
	position: absolute;
	top: 50%;
	left: 0;
	opacity: 0;
	transition: 3s;
}
.slide :global(.header) {
	font-family: "Lalezar", system-ui;
	font-weight: 400;
	position: absolute;
	top: -100%;
	left: 0;
	opacity: 0;
	transition: 3s;
}
.aciveSlide :global(.subHeader) {
	left: 50%;
	top: 57%;
	transform: translate(-50%, -50%);
	opacity: 1;
}
.aciveSlide :global(.header) {
	left: 50%;
	top: 42%;
	transform: translate(-50%, -50%);
	opacity: 1;
}