.text {
	font-family: "Amiri", serif;
	position: absolute;
	top: 50%;
	left: 0;
	opacity: 0;
	transition: 3s;
}
.aciveSliderText {
	left: 50%;
	top: 55%;
	transform: translate(-50%, -50%);
	opacity: 1;
}
.header {
	font-family: "Lalezar", system-ui;
	font-weight: 400;
	position: absolute;
	top: -100%;
	left: 0;
	opacity: 0;
	transition: 3s;
}
.activeHeader {
	left: 50%;
	top: 42%;
	transform: translate(-50%, -50%);
	opacity: 1;
}
